# Association Rules
on the basis of MLXtend by Sebastian Rashka http://rasbt.github.io/mlxtend/user_guide/frequent_patterns/association_rules/

In [ ]:
import pandas as pd
import numpy as np

from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori as apriori
from mlxtend.frequent_patterns import association_rules

In [4]:
data = pd.read_csv('dataset_for_test_20200729_cleaned.csv',sep=';', decimal=",")
data.head()

,order_id,_date,user_id,plu_id,category_id,parent_category_id,product_quantity,product_sum
0,5efc2687f59a7f82441fe4ca,2020-07-01 09:00:39+03,5efb12173849bd7ecc4cdb50,3383918,855.0,1105.0,1.0,49.9
1,5efc2687f59a7f82441fe4ca,2020-07-01 09:00:39+03,5efb12173849bd7ecc4cdb50,3489545,853.0,849.0,1.0,89.9
2,5efc2687f59a7f82441fe4ca,2020-07-01 09:00:39+03,5efb12173849bd7ecc4cdb50,2068955,839.0,834.0,1.0,99.9
3,5efc2687f59a7f82441fe4ca,2020-07-01 09:00:39+03,5efb12173849bd7ecc4cdb50,3435295,838.0,834.0,2.0,33.8
4,5efc2687f59a7f82441fe4ca,2020-07-01 09:00:39+03,5efb12173849bd7ecc4cdb50,3435297,838.0,834.0,2.0,31.8

In [6]:
data.shape

(332642, 8)

In [49]:
df = data.loc[:, ['order_id', 'plu_id']]
df.head()

                   order_id   plu_id
0  5efc2687f59a7f82441fe4ca  3383918
1  5efc2687f59a7f82441fe4ca  3489545
2  5efc2687f59a7f82441fe4ca  2068955
3  5efc2687f59a7f82441fe4ca  3435295
4  5efc2687f59a7f82441fe4ca  3435297

In [50]:
df.shape

(332642, 2)

In [51]:
df2 = df.groupby('order_id').agg(lambda x: x.tolist())
df2.head()

                                                                     plu_id
order_id
5efc2687f59a7f82441fe4ca  [3383918, 3489545, 2068955, 3435295, 3435297, ...
5efc26a0d9c459f11a8e122f  [1860, 2139858, 3170135, 3341462, 45463, 36955...
5efc26a4d9c45903d38e1247  [2137027, 1536, 3661004, 3664384, 3674166, 368...
5efc26b4d9c459748e8e126c  [3477505, 43693, 79108, 3639749, 3444750, 3682...
5efc26c1f59a7f62941fe522  [2144368, 18510, 3480546, 3224596, 3998557, 40...

In [52]:
df2.shape

(23773, 1)

In [58]:
temp = df2['plu_id'].to_list()
len(temp)

23773

In [56]:
te = TransactionEncoder()
te_ary = te.fit(temp).transform(temp)
df = pd.DataFrame(te_ary, columns=te.columns_)

In [57]:
MIN_SUPPORT = 0.03

frequent_itemsets = apriori(df, min_support=MIN_SUPPORT, use_colnames=True)
frequent_itemsets

     support          itemsets
0   0.047659            (1536)
1   0.074791            (3757)
2   0.055441            (3759)
3   0.179027            (4072)
4   0.120052            (5013)
5   0.042611            (6177)
6   0.030497            (7827)
7   0.035166           (11034)
8   0.065789           (21292)
9   0.030329           (27768)
10  0.031759           (31014)
11  0.042107           (31895)
12  0.037816           (44323)
13  0.049384           (44569)
14  0.105203           (45463)
15  0.165398           (45505)
16  0.037059           (47368)
17  0.038826           (47795)
18  0.051950           (48647)
19  0.040003           (48660)
20  0.031717           (48663)
21  0.084045           (52112)
22  0.060573           (53484)
23  0.036596           (55772)
24  0.044420           (70709)
25  0.048332           (77094)
26  0.043411           (77410)
27  0.037479           (78648)
28  0.038783           (79012)
29  0.074833           (79108)
30  0.035334           (79339)
31  0.052833         (2065120)
32  0.044294         (2085981)
33  0.038615         (2099571)
34  0.033525         (2173555)
35  0.046565         (3139679)
36  0.030034         (3173204)
37  0.044126         (3230933)
38  0.031759         (3283556)
39  0.033273         (3446505)
40  0.038026         (3498598)
41  0.043200         (3498599)
42  0.042149         (3634491)
43  0.107433         (3638820)
44  0.129264         (3639749)
45  0.051613         (3682402)
46  0.066630         (3695580)
47  0.030749         (3979117)
48  0.033357      (4072, 5013)
49  0.033820     (4072, 45463)
50  0.057965     (4072, 45505)
51  0.040382   (4072, 3638820)
52  0.040382   (4072, 3639749)
53  0.032684   (4072, 3695580)
54  0.045514    (45505, 45463)
55  0.031254    (52112, 45463)
56  0.038868  (45505, 3638820)
57  0.033483  (45505, 3639749)

In [47]:
CONFIDENCE = 0.2

association_rules(frequent_itemsets, metric="confidence", min_threshold=CONFIDENCE)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(5013),(4072),0.120052,0.179027,0.033357,0.277856,1.552035,0.011865,1.136855
1,(45463),(4072),0.105203,0.179027,0.033820,0.321471,1.795663,0.014986,1.209932
2,(4072),(45505),0.179027,0.165398,0.057965,0.323778,1.957574,0.028354,1.234214
3,(45505),(4072),0.165398,0.179027,0.057965,0.350458,1.957574,0.028354,1.263926
4,(4072),(3638820),0.179027,0.107433,0.040382,0.225564,2.099581,0.021149,1.152538
5,(3638820),(4072),0.107433,0.179027,0.040382,0.375881,2.099581,0.021149,1.315412
6,(4072),(3639749),0.179027,0.129264,0.040382,0.225564,1.744982,0.017240,1.124348
7,(3639749),(4072),0.129264,0.179027,0.040382,0.312398,1.744982,0.017240,1.193966
8,(3695580),(4072),0.066630,0.179027,0.032684,0.490530,2.739985,0.020756,1.611427
9,(45505),(45463),0.165398,0.105203,0.045514,0.275178,2.615677,0.028113,1.234505
10,(45463),(45505),0.105203,0.165398,0.045514,0.432627,2.615677,0.028113,1.470994
11,(52112),(45463),0.084045,0.105203,0.031254,0.371872,3.534790,0.022412,1.424545
12,(45463),(52112),0.105203,0.084045,0.031254,0.297081,3.534790,0.022412,1.303074
13,(45505),(3638820),0.165398,0.107433,0.038868,0.234995,2.187367,0.021098,1.166747
14,(3638820),(45505),0.107433,0.165398,0.038868,0.361785,2.187367,0.021098,1.307714
15,(45505),(3639749),0.165398,0.129264,0.033483,0.202442,1.566105,0.012103,1.091752
16,(3639749),(45505),0.129264,0.165398,0.033483,0.259030,1.566105,0.012103,1.126365

In [48]:
LIFT = 1.2


rules = association_rules(frequent_itemsets, metric="lift", min_threshold=LIFT)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(4072),(5013),0.179027,0.120052,0.033357,0.186325,1.552035,0.011865,1.081449
1,(5013),(4072),0.120052,0.179027,0.033357,0.277856,1.552035,0.011865,1.136855
2,(4072),(45463),0.179027,0.105203,0.033820,0.188910,1.795663,0.014986,1.103202
3,(45463),(4072),0.105203,0.179027,0.033820,0.321471,1.795663,0.014986,1.209932
4,(4072),(45505),0.179027,0.165398,0.057965,0.323778,1.957574,0.028354,1.234214
5,(45505),(4072),0.165398,0.179027,0.057965,0.350458,1.957574,0.028354,1.263926
6,(4072),(3638820),0.179027,0.107433,0.040382,0.225564,2.099581,0.021149,1.152538
7,(3638820),(4072),0.107433,0.179027,0.040382,0.375881,2.099581,0.021149,1.315412
8,(4072),(3639749),0.179027,0.129264,0.040382,0.225564,1.744982,0.017240,1.124348
9,(3639749),(4072),0.129264,0.179027,0.040382,0.312398,1.744982,0.017240,1.193966
10,(4072),(3695580),0.179027,0.066630,0.032684,0.182566,2.739985,0.020756,1.141829
11,(3695580),(4072),0.066630,0.179027,0.032684,0.490530,2.739985,0.020756,1.611427
12,(45505),(45463),0.165398,0.105203,0.045514,0.275178,2.615677,0.028113,1.234505
13,(45463),(45505),0.105203,0.165398,0.045514,0.432627,2.615677,0.028113,1.470994
14,(52112),(45463),0.084045,0.105203,0.031254,0.371872,3.534790,0.022412,1.424545
15,(45463),(52112),0.105203,0.084045,0.031254,0.297081,3.534790,0.022412,1.303074
16,(45505),(3638820),0.165398,0.107433,0.038868,0.234995,2.187367,0.021098,1.166747
17,(3638820),(45505),0.107433,0.165398,0.038868,0.361785,2.187367,0.021098,1.307714
18,(45505),(3639749),0.165398,0.129264,0.033483,0.202442,1.566105,0.012103,1.091752
19,(3639749),(45505),0.129264,0.165398,0.033483,0.259030,1.566105,0.012103,1.126365